table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 4px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #009;
  color: #fff;
}
.downloadButton {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 8px;
}
.downloadButton:hover {
  background-color: RoyalBlue;
}
.tableContainer {
  margin: 10px;
}
